<div class="container my-5">
    <h1 class="mb-3">Add room</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addRoom()">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addRoomRequest.name">
                </div>
                <div class="mb-3">
                    <label for="capacity" class="form-label">Capacity</label>
                    <input type="number" class="form-control" id="capacity" name="capacity" [(ngModel)]="addRoomRequest.capacity">
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="addRoomRequest.price">
                  </div>
                  <div class="mb-3">
                    <label for="avability" class="form-label">Avability</label>
                    <input type="checkbox" class="form-label" id="avability" name="avability" [(ngModel)]="addRoomRequest.avability">
                  </div>
                  <div class="mb-3">
                    <label for="amenities" class="form-label">Amenities</label>
                    <input type="text" class="form-control" id="amenities" name="description" [(ngModel)]="addRoomRequest.amenities">
                  </div>
                  <div class="mb-3">
                    <label for="photoUrl" class="form-label">Image Url</label>
                    <input type="text" class="form-control" id="photoUrl" name="photoUrl" [(ngModel)]="addRoomRequest.photoUrl">
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="addRoomRequest.description">
                  </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
        </div>        
    </div>  
</div>
