<div class="container my-5">
    <h1 class="mb-3">Rooms</h1>

    <table class="table table-dark table-striped" *ngIf="rooms && rooms.length >0">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Price</th>
                <th>Amenities</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms">
                <td>{{ room.photoUrl }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.amenities }}</td>
                <td>{{ room.description }}</td>
                <td><a [routerLink]="['/rooms', 'edit', room.id]">Book</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!rooms || rooms.length <= 0">No rooms found.</p>
</div>