<html>
    <head>
        <link rel="stylesheet" href="home.component.css">
    </head>
    <body>
        <div class="image">
            <img src="/assets/1.jpg" class="center" style="width:100%; height:700;" alt="Our Hotel">
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand">Grzegorz Sitkowski</a>
              <a class="navbar-brand">
                <img src="assets/envelope-at-fill-white.jpg">
                sitkowski.grzegorz8@gmail.com</a>
              <a class="navbar-brand">
                <img src="assets/telephone-fill.png">
                +48 516 704 557</a>
              <a class="navbar-brand">@2023</a>
            </div>
          </nav>
    </body>
</html>