<div class="container my-5">
    <h1 class="mb-3">Add reservation</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addReservation()">
                <div class="mb-3">
                  <h4>Mail: {{addReservationRequest.mail}}</h4>
                </div>
                <div class="mb-3">
                    <h4>Price: {{addReservationRequest.price}} zł</h4>
                  </div>
                <div class="mb-3">
                    <label for="checkIn" class="form-label">CheckIn</label>
                    <input type="date" class="form-control" id="checkIn" name="checkIn" [(ngModel)]="addReservationRequest.checkIn">
                  </div>
                  <div class="mb-3">
                    <label for="checkOut" class="form-label">CheckOut</label>
                    <input type="date" class="form-control" id="checkOut" name="checkOut" [(ngModel)]="addReservationRequest.checkOut">
                  </div>
                  <div class="mb-3">
                    <label for="payment" class="form-label">Payment</label>
                    <input type="checkbox" class="form-label" id="payment" name="payment" [(ngModel)]="addReservationRequest.payment">
                  </div>
                  <div class="mb-3">
                    <label for="userId" class="form-label">UserId</label>
                    <input type="number" class="form-control" id="userId" name="userId" [(ngModel)]="addReservationRequest.userId">
                  </div>
                  <div class="mb-3">
                    <h4>RoomId: {{addReservationRequest.roomId}}</h4>
                  </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
        </div>        
    </div>  
</div>
